  h1, h2, p {
    text-align: center;
    color: red;
  }
  body {
    margin-left: 200px;
    background: #5d9ab2 url("img_tree.png") no-repeat top left;
  }
  .center_div {
    border: 1px solid gray;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #d0f0f6;
    text-align: left;
    padding: 8px;
  }
  p {
    border-style: solid;
    border-right: thick double #ff0000;
  }
  div {
    width:300px;
    margin: auto;
    border: 1px solid red;
  }
  div {
    max-height: 600px;
    min-height: 400px;
    background-color: powderblue;
  }
  p.ex1 {
    padding: 2cm;
  }

  p.ex2 {
    padding: 0.5cm 3cm;
  }
  .flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }

  .flex-container > * {
    padding: 10px;
    flex: 1 100%;
  }

  .main {
    text-align: left;
    background: cornflowerblue;
  }

  .header {background: coral;}
  .footer {background: lightgreen;}
  .aside1 {background: moccasin;}
  .aside2 {background: violet;}

  @media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
  }

  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside1 { order: 1; }
    .main    { order: 2; }
    .aside2 { order: 3; }
    .footer  { order: 4; }
  }
